#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  width: 100vw;
}

.container {
  display: flex;
  width: 80vw;
  height: fit-content;
  background-color: transparent;
  justify-content: space-around;
  flex-wrap: wrap;
  column-gap: 2px;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addTaskButton {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border-color: white;
  border: solid 2px;
  background-color: black;
  margin: 28px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  font-weight: 600;
}

.addTaskButton:hover {
  background-color: #111111f5;
  color: white;
}